/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

table th {
    background-color: #007bff;
    color: white;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}